/build
/dist/sys/bin
/dist/apps/Sample.webapp/bin
/dist/apps/FileUpload.webservice/bin
/dist/apps/Login.webservice/bin
/dist/apps/WebCalls.webservice/bin
/dist/apps/WebDAV.webservice/bin
/dist/apps/FileDownload.webservice/bin
/dist/apps/FileBrowser.webservice/bin
/dist/apps/GraphDiagramEngine.weblib/bin
/dist/apps/DialogEngine.weblib/bin
/dist/apps/Login.webservice/webservice.properties
/dist/etc/acme
/dist/etc/registry
/dist/etc/webappos.properties
/dist/etc/registry/xusers/webappos
