html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
 
#appLayout {
    height: 100%;
}
#leftCol {
    width: 14em;
}
 
.claro .demoLayout .edgePanel {
    background-color: #d0e9fc;
}
 
#viewsChart {
    width: 550px;
    height: 550px;
}


.claro .dijitMenuBar .dijitMenuItem {
/*  padding: 6px 10px 7px;*/
padding:2px 4px 3px; /* by SK*/
  margin: -1px;
}
.claro .dijitMenuBar .dijitMenuItemHover,
.claro .dijitMenuBar .dijitMenuItemSelected {
  border: solid 1px #759dc0;
/*  padding: 5px 9px 6px;*/
padding:1px 3px 2px; /* by SK*/
}

.claro .dijitMenu .dijitMenuItem td,
.claro .dijitComboBoxMenu .dijitMenuItem {
/*  padding: 2px; by SK */
  padding-top:0.5px;
  padding-bottom:0.5px;
  padding-left:2px;
}