/DOMImplementationLS.class
/LSException.class
/LSInput.class
/LSLoadEvent.class
/LSOutput.class
/LSParser.class
/LSParserFilter.class
/LSProgressEvent.class
/LSResourceResolver.class
/LSSerializer.class
/LSSerializerFilter.class
